# jwt
ACCESS_TOKEN_JWT_SECRET="secretKeyAccessToken"
ACCESS_TOKEN_EXPIRES_IN="15m"
REFRESH_TOKEN_JWT_SECRET="secretKeyRefreshToken"
REFRESH_TOKEN_EXPIRES_IN="7d"
REFRESH_TOKEN_SKIP_INCREMENT_VERSION="false"
# ldap
LDAP_URL="127.0.0.1"
LDAP_BIND_DN="cn=administrator,cn=users,dc=c3edu,dc=online"
LDAP_BIND_CREDENTIALS="secret-password-here"
LDAP_SEARCH_BASE="dc=c3edu,dc=online"
LDAP_SEARCH_USER_FILTER="(cn={{username}})"
LDAP_SEARCH_USER_ATTRIBUTES="['displayName', 'mail']"
# ou=${defaultGroup},ou=People,${ldapBaseDn}, defaultGroup is the defaultGroup passed in request and LDAP_BASE_DN will be added to last part
LDAP_NEW_USER_DN_POSTFIX='ou=People'
